<app-top-bar
  [showBackButton]="false"
  [showHistoryButton]="false"
  [title]="'Calendario'"
></app-top-bar>

<section class="page calendar">
  <nz-calendar>
    <ul  *nzDateCell="let currentDate" class="events">
   
      <li *ngIf="currentDate.getDate() === appointmentDate.getDate()">
        <nz-badge nzStatus="success"></nz-badge>
      </li>

      <li *ngIf="currentDate.getDate() === appointmentDate.getDate()">
        <nz-badge nzStatus="error"></nz-badge>
      </li>
      
      <li *ngIf="currentDate.getDate() === appointmentDate.getDate()">
        <nz-badge nzStatus="warning"></nz-badge>
      </li>

      <li *ngIf="currentDate.getDate() === appointmentDate.getDate()">
        <nz-badge nzStatus="critical"></nz-badge>
      </li>
    </ul>
  </nz-calendar>

  <app-divider></app-divider>

  <app-calendar-card></app-calendar-card>


</section>
