@import '../../../../scss/styles.scss';

.filters {

    &__orderBy {
        display: flex;
        gap: 0.5rem;
    }

    &__filterBy {

        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__title {
        margin: 1rem 0;
    }

    &__footer {
        width: 100%;

        padding: 2rem;

        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1rem;


        border-top: 2px solid $border-color;

        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

 .nz-button {
   width: 100%;
 }
}
