@import '../../../../scss/styles.scss';

.configuration-div {
    margin-bottom: 1rem;
    width: 100%;
    background-color: $white;
    border: solid 1px $border-color;
    display: flex;
    padding: 1rem;
    font-size: 16px;
    font-family: $primary-font;
    border-radius: 8px;
    justify-content: space-between;
    font-weight: 600;
}

.button-icon {
    font-size: 24px;
    display: flex;
}