<section class="page settings">

  <div class="configuration-div" routerLink="/preferences">

    <span class="button-text"> Preferencias </span>

    <ng-icon name="heroUserCircle" class="button-icon">

    </ng-icon>
  </div>


  <div class="configuration-div" routerLink="/notifications">

    <span class="button-text"> Notificaciones </span>

    <ng-icon name="heroBell" class="button-icon">

    </ng-icon>
  </div>


  <div class="configuration-div" routerLink="/support" >

    <span class="button-text"> Ayuda en Linea </span>

    <ng-icon name="heroPhone" class="button-icon">

    </ng-icon>
  </div>

  <div class="configuration-div" routerLink="/termsAndConditions" >

    <span class="button-text"> Terminos y Condiciones </span>

    <ng-icon name="heroInformationCircle" class="button-icon">

    </ng-icon>
  </div>

  <app-logout-button></app-logout-button>
  
</section>