// Colors
$bg-color: #fafafa;

$white: #FFFFFF;

$orange: #ff975d;
$orange-darker: #db7c48;
$orange-lighter: #ffd0b6;
$organe-transparent: #ff975d80;

$light-blue: #3dd2f3;
$red: #ff747c;
$yellow: #f5d136;
$green: #69be28;

$black: #333333;
$gray: #999999;

// Font-Colors
$primary-text-color: #333333;
$secondary-text-color: #999999;
$utilities-text-color: #666666;
$border-color: #99999980;

// Font-Sizes
$primary-text: 20px;
$secondary-text: 14px;
$tertiary-text: 12px;

$primary-headline: 24px;
$secondary-headline: 18px;

$primary-body: 16px;
$secondary-body: 14px;

$caption-text: 12px;

$primary-icon: 24px;
$secondary-icon: 18px;
$small-icon: 12px;

// Font-Families
$primary-font: "Quicksand";
$primary-family: sans-serif;

//Header
$header-height: 94px;
$footer-height: 80px;

// Shadows
$shadow-webkit: 0px 4px 16px 0px rgba(153, 153, 153, 0.25);
$shadow-moz: 0px 4px 16px 0px rgba(153, 153, 153, 0.25);
$shadow-box: 0px 4px 16px 0px rgba(153, 153, 153, 0.25);